section
  h1 Grand partenaire
  ul
    li
      a(href='http://www.gipsa.fr/', target='_blank')
        img(src='partners/gipsa.png', width='120', height='120', alt='GIPSA')
section
  h1 Partenaires d'Or
  ul
    each gold
      li
        a(href=url, target='_blank')
          img(src=logo.url, width='120', height='120', alt=name)
section
  h1 Partenaires d'Argent
  ul
    each silver
      li
        a(href=url, target='_blank')
          img(src=logo.url, width='120', height='120', alt=name)
section
  h1 Nos Partenaires
  ul
    each bronze
      li
        a(href=url, target='_blank')
          img(src=logo.url, width='120', height='120', alt=name)
