section.contact
  article.header
    a(href='#contact'): h1 Contact
  article.form
    .cookieMask(data-bind='unless: isCookieAccepted')
      p Contact impossible, veuillez accepter les cookies.
    p.error(
      data-bind='text: errorText, if: isErrorDisplayed'
    )
    form#contact-form
      fieldset.contact
        .alreadyContacted(data-bind='if: isContactPrevented')
          p Merci pour votre message.<br>Nous revenons vers vous au plus tôt.
        span.input
          input#name(
            type='text', name='name'
            data-bind='value: name, class: {filled: name}, change: disabledSubmit'
          )
          label(for='name'): span Nom (de jeune fille)
        span.input
          input#email(
            type='email', name='email'
            data-bind='value: email, class: {filled: email}, change: disabledSubmit'
          )
          label(for='email'): span E-mail
        textarea(
          name='message',  form='contact-form', placeholder='Votre demande', rows='10'
          data-bind='value: message, change: disabledSubmit'
        )
      fieldset.info-submit
        div
          h2
            address LA PLATEFORME
            address 4, quai Victor Augagneur - 69003 LYON
          p Des navettes seront mises à disposition à la sortie de la Cité des Congrès pour tous les participants de la soirée.
        .submit
          button(
            type='button',
            data-bind='disabled: disabledSubmit, click: sendMessage'
          ) Envoyez
section.access-location-picture
        
