ul.share-buttons
  li
    a.facebook(
      href='', target='_blank', title='Partager sur Facebook',
      data-bind='attr: {href: facebookURL}'
    )
      i.fa.fa-facebook-square.fa-2x
  li
    a.twitter(
      href='',
      target='_blank', title='Tweet',
      data-bind='attr: {href: twitterURL}'
    )
      i.fa.fa-twitter-square.fa-2x
  li
    a.gplus(
      href='', target='_blank', title='Partager sur Google+',
      data-bind='attr: {href: gplusURL}'
    )
      i.fa.fa-google-plus-square.fa-2x
  if youtube
    li
      a.youtube(
        href='', target='_blank', title='Voir notre chaîne',
        data-bind='attr: {href: youtubeURL}'
      )
        i.fa.fa-youtube-square.fa-2x
