ul.share-buttons
  li
    a(
      href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fasv-la-soiree.com&t=La%20soir%C3%A9e%20ASV',
      target='_blank', title='Partager sur Facebook',
      onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"
    )
      i.fa.fa-facebook-square.fa-2x
  li
    a(
      href='https://twitter.com/intent/tweet?source=http%3A%2F%2Fasv-la-soiree.com&text=La%20soir%C3%A9e%20ASV:%20http%3A%2F%2Fasv-la-soiree.com&via=apform',
      target='_blank', title='Tweet',
      onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"
    )
      i.fa.fa-twitter-square.fa-2x
  li
    a(
      href='https://plus.google.com/share?url=http%3A%2F%2Fasv-la-soiree.com',
      target='_blank', title='Partager sur Google+',
      onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"
    )
      i.fa.fa-google-plus-square.fa-2x
